.tasks {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		color: #64c4ed;
		padding-bottom: 20px;
		border-bottom: 1px solid #f2f2f2;
		&:hover {
			img {
				opacity: 0.2;
			}
		}
		img {
			opacity: 0;
			margin-left: 20px;
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__items {
		margin-bottom: 30px;
		h2 {
			margin-top: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #aaaaaa;
			font-size: 40px;
		}
	}
	
	&__item {
	
		&-row {
			margin-top: 30px;
			display: flex;
			align-items: center;
			& input {
				margin-left: 15px;
				font-size: 16px;
				border: none;
				width: 100%;
			}
		}
	}
	
	.checkbox{
		&:hover {
			label {
				background-color: #f2f2f2;
				border-color: #f2f2f2;
				svg {
					opacity: 1;
					path {
						stroke: #b2b2b2;
					}
				}
			}
		}
		input {
			display: none;
		}
		label {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 25px;
			border-radius: 30px;
			border: 2px solid #e8e8e8;
			cursor: pointer;
			transition: background-color 0.3s ease, border-color 0.3s ease;
			svg {
				opacity: 0;
				transition: opacity 0.3s ease 0s;
			}
		}
		input:checked + label {
			background-color: #4dd599;
			border-color: #4dd599;
			svg {
				opacity: 1;
				path {
					stroke: #fff
				}
			}
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		width: 250px;
		&-new {
			font-size: 18px;
			margin-left: 6px;
			opacity: 0.4;
			cursor: pointer;
			transition: opacity 0.3s ease;
			img {
				width: 14px;
				height: 14px;
			}
			span {
				margin-left: 21px;
			}
			&:hover {
				opacity: 0.8;
			}
		}
		&-buttons {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		input {
			margin-bottom: 15px;
			width: 100%;
		}
	}
}